@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body{
    background-color: #000000;
    opacity: 1;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #5b3e3e, #5b3e3e 1px, #000000 1px, #000000);
}
.logo img{
    margin-top: 50px;
    height: 250px;
    width: 450px;
    border-radius: 8px;
    cursor: pointer;
}
.container-fluid{
    text-align: center;
}
.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    color: rgb(92, 170, 234);
    margin-top: 50px;
}
.content-para{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    text-align: justify;
    color: rgb(217, 143, 51);
}